/* src/HomePage.css */
.homepage {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #333;
}

.hero {
    background: url('./hero_section-bg.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 20px;
    color: rgb(15, 136, 196);
}

.hero h2 {
    font-size: 2.5em;
    margin: 0 0 20px;
}

.hero p {
    font-size: 1.2em;
    margin: 0 0 20px;
    color: rgb(4, 14, 19);
}

.hero button {
    background-color: #68a0f9;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.feature {
    width: 30%;
    padding: 20px;
    background-color: #bddef3;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.feature h3 {
    margin-top: 0;
    color:rgb(15, 136, 196)
}

footer {
    background-color: #3e5865;
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
