*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #8D99AE;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  nav{
    background-color: #011638;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .navRight{
    margin-left: auto;
  }
  a li{
    color : #EDF2F4;
    list-style: none;
    padding: 15px;
  }